/** Palette **/
$highlight: #005580;
$highlightText: #fff;

$bodyBg: #ccc;

/** Structure **/
html {}
body {
	background-color: $bodyBg;
}

header {
	background-color: $highlight;
	color: $highlightText;
}
nav.navbar {
	margin: 10px 0;
}
#content {
	background-color: #fff;
	padding: 10px 0;
}
footer {
	padding: 10px;
	background-color: $highlight;
	color: $highlightText;
	text-align: center;
}

/** Specific views **/
div.view {
	h6.subheader {
		font-size: 14px;
	}
	p {
		margin-left: 10px;
	}
}

/** Forms **/
form .datetime {
  select {
	width: 200px;
	float: left;
  }
}

/** Flash messages **/
$errorBg: #ff9090;
$successBg: #86da66;

div.message {
  border-radius: 4px;
  margin: 10px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  &.error {
	background-color: $errorBg;
	border-color: darken($errorBg, 10%);
  }
  &.success {
	background-color: $successBg;
	border-color: darken($successBg, 10%);
  }
}

div.input.error {
  background-color: $errorBg;
  border: 1px solid darken($errorBg, 10%);
  margin: 0;
}