@import "flash";

/** Palette **/
$highlight: #005580;
$highlightText: #fff;

$bodyBg: #ccc;

/** Structure **/
html {}
body {
	background-color: $bodyBg;
}

header {
	background-color: $highlight;
	color: $highlightText;
}
nav.navbar {
	margin: 10px 0;
}
#content {
	background-color: #fff;
	padding: 10px 0;
}
footer {
	padding: 10px;
	background-color: $highlight;
	color: $highlightText;
	text-align: center;
}

/** Specific views **/
div.view {
	h6.subheader {
		font-size: 14px;
	}
	p {
		margin-left: 10px;
	}
}

/** Forms **/
form .datetime {
  select {
	width: 200px;
	float: left;
  }
}

div.required:before{
  content: "* ";
}
div.error-message {
  color: darken($errorBg, 20%);
}

/** Scorecard **/
form fieldset {
  margin-bottom: 15px;
}
form div.batsman {
  min-height: 217px;
}
form div.batsman, form div.bowler, form div.extra {
  clear: both;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px 10px;
  &:nth-child(odd) {
	background-color: darken(#fff, 5%);
  }
  &:nth-child(even) {
	background-color: darken(#fff, 10%);
  }
  .form-group {
	float: left;
	margin-right: 10px;
	&.number {
	  width: 100px;
	}
	&.select {
	  width: 350px;
	}
  }
  span.glyphicon.glyphicon-trash {
	margin-top: 29px;
  }
  span.form-label {
	width: 200px;
	margin: 10px 0 0 10px;
	float: left;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	img {
	  position: absolute;
	  top: 30px;
	  left: 0;
	}
  }
  span.number {
	font-size: 130px;
	font-weight: bold;
	position: absolute;
	bottom: -50px;
	left: -10px;
	color: rgba(3,3,3,0.2);
  }
  div.wicket {
	margin-left: 210px;
  }
  a.btn {
	margin-top: 20px;
  }
}
fieldset.batting {
  position: relative;
}
div.running-total {
  min-width: 150px;
  position: absolute;
  top: -15px;
  right: 10px;
  z-index: 500;
  background-color: rgba(3,3,3,0.4);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.btn {
  margin: 0 5px;
}