/** Palette **/
$highlight: #005580;
$highlightText: #fff;

$bodyBg: #ccc;

/** Structure **/
html {}
body {
	background-color: $bodyBg;
}

header {
	background-color: $highlight;
	color: $highlightText;
}
nav.navbar {
	margin: 10px 0;
}
#content {
	background-color: #fff;
	padding: 10px 0;
}
footer {
	padding: 10px;
	background-color: $highlight;
	color: $highlightText;
	text-align: center;
}

/** Specific views **/
div.view {
	h6.subheader {
		font-size: 14px;
	}
	p {
		margin-left: 10px;
	}
}